<p><%=  %></p>

<input type="hidden" id="file" name="file" value="<%= @all_answer.question.question %>">
<input type="hidden" id="answer" name="answer" value="<%= @all_answer.answer %>">
<script>

var obj = document.getElementById("file").value;
var json_parse = JSON.parse(obj);

console.log(json_parse)
// text
for(i=0; i < json_parse.length; i++){
    console.log(json_parse[i].type)
    console.log(json_parse[i].label)   

    var div = document.createElement("DIV");
    document.body.querySelector(".test-text").appendChild(div);
    
    var question = document.createElement("P");
    question.innerHTML = i+1 + ". " + json_parse[i].label;
    document.body.querySelector(".demo").appendChild(question);

    div.appendChild(question)
    if(json_parse[i].type == "text"){
        var x = document.createElement("INPUT");
        x.setAttribute("id", json_parse[i].ID);
        x.setAttribute("name", json_parse[i].name);
        x.setAttribute("type", json_parse[i].type);
        // x.setAttribute("required", json_parse[i].required);
        document.body.querySelector(".test-text").appendChild(x);
        div.appendChild(x)
    }else if(json_parse[i].type == "textarea"){
        // alert("t")
        var x = document.createElement("TEXTAREA");
        x.setAttribute("id", json_parse[i].ID);
        x.setAttribute("name", json_parse[i].name);
        // x.setAttribute("type", json_parse[i].type);
        document.body.querySelector(".test-text").appendChild(x);

        div.appendChild(x)
    }else if(json_parse[i].type == "checkbox-group"){
        for(k=0; k < json_parse[i].values.length; k++){
            var checkbox = document.createElement("INPUT");
            checkbox.setAttribute("id", json_parse[i].ID);
            checkbox.setAttribute("name", json_parse[i].name);
            checkbox.setAttribute("type", "checkbox");
            checkbox.setAttribute("value", json_parse[i].values[k].value);
            var checkbox_text = document.createElement("P")
            checkbox_text.innerHTML = json_parse[i].values[k].label

            document.body.querySelector(".test-text").appendChild(checkbox);
            div.appendChild(checkbox_text);
            div.appendChild(checkbox);
        }
    }else if(json_parse[i].type == "button"){
        var x = document.createElement("BUTTON");
        x.setAttribute("id", json_parse[i].ID);
        x.setAttribute("name", json_parse[i].name);
        x.setAttribute("type", json_parse[i].subtype);
        x.innerHTML = json_parse[i].subtype;
        document.body.querySelector(".test-text").appendChild(x);
        div.appendChild(x)

    }else{
        for(k=0; k < json_parse[i].values.length; k++){
            var radio = document.createElement("INPUT");
            radio.setAttribute("name", json_parse[i].name);
            radio.setAttribute("type", "radio");
            radio.setAttribute("value", json_parse[i].values[k].value);
            
            if(json_parse[i].name.includes("star")){
                radio.setAttribute("class", "star star-"+(k+1));
                var label = document.createElement("LABEL");
                label.setAttribute("id", "star-"+(k+1));
                label.setAttribute("name", "star");

                div.setAttribute("class", "stars")
            }
               
            var radio_text = document.createElement("P")
            radio_text.innerHTML = json_parse[i].values[k].label


            var p = document.getElementById("demo");
            p.remove;

            document.body.querySelector(".test-text").appendChild(radio);
            
            div.appendChild(radio_text);
            div.appendChild(radio);
        }
    }
}
</script>
