// Place all the styles related to the fitting controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
div.stars {
    display:inline-flex;
    flex-direction:column;
  }
  div.stars p {
    display:inline-flex;
    flex-direction:row-reverse;
  }
  input.star {
    display: none;
  }
  label.star {
    display:inline-block;
    padding: 10px;
    font-size: 36px;
    color: #444;
    transition: all .2s;
  }
  input.star:checked ~ label.star:before {
    content: '\f005';
    color: #FD4;
    transition: all .25s;
  }
  input.star-5:checked ~ label.star:before {
    color: #FD4;
  }
  input.star-1:checked ~ label.star:before {
    color: #FD4;
  }
  /* label.star:hover {
    transform: rotate(-15deg) scale(1.3); 
  } */
  label.star:before {
    content: '\f006';
    font-family: FontAwesome;
  }
